<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Website</title>
    <link rel="stylesheet" href="blog.css">
</head>
<body>
    <%-include('header.ejs')%>
    <h1>My Blogs</h1>
    <div class="container">

      <%  if(myBlogs.length == 0){ %>
        <h1>No Blogs</h1>

      <%  }else{ %>
            <% myBlogs.forEach((blog)=>{ %>
                <div class="card">
                    <h2><%- blog.title  %></h2>
                    <h3><%- blog.subTitle %></h3>
                    <p><%- blog.description.slice(0,100) %>...</p>
                    <a href="/single/<%-blog.id %>">Read More</a>
                </div>
        <%       }) %>
        <% } %>
    </div>
</body>
</html>
